{% extends "principale.html" %}

{% block title %}Accueil {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='acceuil.css') }}">
{% endblock %}

{% block content %}
<div class="welcom"> Bienvenue sur Présencia, votre solution de présence intelligente</div>
<div class="container">
<h1>Application web de gestion de présence basée sur la reconnaissance faciale</h1>
<p style="line-height: 1.5;"> Une solution intelligente pour les administrateurs, permettant une gestion automatisée et sécurisée des présences grâce à la reconnaissance faciale. L'application offre une interface simple et intuitive pour enregistrer, suivre et gérer les présences des utilisateurs en temps réel, tout en assurant une sécurité optimale et un contrôle total sur les données.</p>
<div class="acceuil-logo">
    <img src="static/images/acceuil-logo.jpg" alt="Description de l'image" class="photo">
</div>
</div>
{% endblock %}