<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Application de gestion de présence</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='principale.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  {% block extra_css %}{% endblock %}
</head>
<body>
  <div class="menu">
    <div class="logo">
    <img src="{{ url_for('static', filename='images/logoblanc.png') }}" alt="Logo" class="logo-icon">
      
    </div >
   <div class="adminProfil">
  <img src="{{ url_for('static', filename='images/' + (admin.photo if admin.photo else 'profil.jpg')) }}" alt="Logo" class="logo-admin">
    </div>
    <h3 id="nomAdmin">{{admin.username}}</h3>
    <a class="menu-fonct {% if request.path == '/acceuil' %}active{% endif %}" href="/acceuil"><i class="fas fa-home"></i>&nbsp;&nbsp; Accueil</a>
    <a class="menu-fonct {% if request.path == '/Admin' %}active{% endif %}" href="/Admin"><i class="fas fa-user-shield"></i>&nbsp;&nbsp; Admin</a>
    <a class="menu-fonct {% if request.path == '/#' %}active{% endif %}" href="/listePresence" ><i class="fas fa-clock"></i>&nbsp;&nbsp; Gestion des présences</a>
    <a class="menu-fonct {% if request.path == '/Employes' %}active{% endif %}" href="/Employes"  style="margin-bottom: 6px;"><i class="fas fa-users"></i>&nbsp;&nbsp; Gestion des employés</a>
    <a class="menu-fonct {% if request.path == '/reconnaissance' %}active{% endif %}" href="/reconnaissance"><i class="fas fa-camera"></i>&nbsp;&nbsp; Reconnaissance faciale</a>
    <a class="menu-fonct" href="/"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp; Déconnexion</a>
  </div>

  <div class="main">
    <div class="content">
      {% block content %}
      <!-- Le contenu des pages ira ici -->
      {% endblock %}
  </div>
  <script>
    function toggleSousMenu(id){
      const menu=document.getElementById(id);
      if(menu.style.display==="none"){
         menu.style.display = "block";
      }else{
         menu.style.display = "none";
      }
    }
  </script>
</body>

</html>
