<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Application de gestion de présence</title>
  <link rel="stylesheet" href="static/principale.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  {% block extra_css %}
  {% endblock %}
</head>
<body>
  <div class="menu">
    <div class="logo">
      <img src="static/images/logoblanc.png" alt="Logo" class="logo-icon">
      
    </div>
    <a class="menu-fonct" href="/acceuil"><i class="fas fa-home"></i>&nbsp;&nbsp; Accueil</a>
    <a class="menu-fonct" href="/Admin"><i class="fas fa-user-shield"></i>&nbsp;&nbsp; Admin</a>
    <a class="menu-fonct" href="/historique"><i class="fas fa-clock"></i>&nbsp;&nbsp; Historique des présences</a>
    <a class="menu-fonct" href="/employes"><i class="fas fa-users"></i>&nbsp;&nbsp; Gestion des employés</a>
    <a class="menu-fonct" href="/reconnaissance"><i class="fas fa-camera"></i>&nbsp;&nbsp; Reconnaissance faciale</a>
    <a class="menu-fonct" href="/"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp; Déconnexion</a>
  </div>

  <div class="main">
    <div class="content">
      {% block content %}
      <!-- Le contenu des pages ira ici -->
      {% endblock %}
  </div>
</body>
</html>
