* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  
  body {
    display: flex; /*pour cree le contenu comme colonne*/
    min-height: 100vh;
    background: linear-gradient(200deg, #043975, #4780d1);
  }
  
  .menu {
    width: 280px;
    color: white;
    padding: 30px 0px 0px 30px;
    background: linear-gradient(200deg, #043975, #4780d1);
    
  }
  .main {
    flex:1;
    padding: 30px;
    background-color:#eff3f7; 
    color: #000000;
  }
  .logo-icon {
    margin: 10px auto 40px 20px;
    width: 150px;
    height: auto       /* espace du haut */
  }

  .menu-fonct {
    margin: 20px 0;
    padding: 10px 0px 15px 10px;
    transition: 0.3s;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 17px;
  }
  
  .menu-fonct:hover, .menu-fonct.active {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px 0px 0px 30px;
    color: #004494;
  
  }
  .sous-menu{
    display: block;
    color: #004494;
    margin-bottom:5px;
    background-color: white;
   font-size: 12px;
    padding: 8px 0px 8px ;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 20px;
  text-align: center;
    transition: background-color 0.3s ease;
}
.sous-menu:hover {
  background-color: #80acdf;
  color: white;
  box-shadow: 0 3px 8px rgba(31, 95, 166, 0.5);
}
